/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
    margin: 100px 0;
    padding: 50px;
    border: 1px solid black;
}

.style-me1 {
    color: red;
}

#style-me2 {
    color: blue;
}

p {
    color: purple;
}

.my-descendants-are-styled p {
  background-color: red;
}

.my-children-are-styled p {
    background-color: lightgreen;
}
/* Put styles for questions 2.1 and 2.2 here */

/* II. Box model and common properties */

/* Put styles for questions 1-8 here */
.box {
  /* Size */
  width: 200px;
  height: 80px;

  /* Spacing */
  margin: 20px;
  padding: 10px;

  /* Border */
  border: 10px solid pink;
  border-radius: 20px;

  /* Background */
  background: bisque url("./assets/images/img1.png") no-repeat center / cover;

  /* Overflow */
  overflow: scroll;
}

/* III. Positioning */
/* Put styles for questions 1-3 here */
.position-absolute {
    position: absolute;
    top: 0;
    background-color: pink;
}

.position-relative {
    position: relative;
    left: 50px;
    right: 30px;
    background-color: hotpink;
}

.position-sticky {
    position: sticky;
    top: 0;
    background-color: indianred;
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style {
    color:aquamarine;
    font-size: 16px;
    line-height: 30px;
    font-weight: 200;
}

.text-style {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;

    text-align: justify;
    letter-spacing: 20px;
    word-spacing: 5px;
    text-transform: lowercase;
    text-decoration: underline;
}
/* V. Styling links */
/* Put styles for questions 1-3 here */
a {
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
}

a:link {
    color: blue;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: green;
    text-decoration: underline;
}

a:focus {
    color: hotpink;
    text-decoration: underline;
}

a:visited {
    color: purple;
    /*font-style: italic;*/
}
/* VI. calc() */
/* Put styles for questions 1-3 here */
.calc-style {
    background-color: antiquewhite;
    width: calc(100vw - 100px);
}

.fixed-width-col {
    width: 350px;
    display: inline-block;
}

.fluid-col {
    display: inline-block;
    width: calc(100% - 350px);
}
