html, body {
  background-color: #7893ac;
  margin: 0;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  color: #e6b9b8;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    background-color:#e6b9b8;
    color: #7893ac; 
    width: 100%;
}

h1, h2 {
  font-weight: 600;
  text-align: center;
}

p {
  text-align: center;
}

.experience {
  display: flex;
  flex-wrap: wrap;
}

.experience h2 {
  width: 100%;
}

.experience-item {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}

